.comment {
    &__date {
        // left: 0;
        // position: absolute;
        font-size: 14px;
        font-weight: 800;
        line-height: 0px;
        margin-top: 14px;
        // margin-right: 12px;
    }

    padding: 20px;
    background-color: rgba(0, 0, 0, 0.281);
    margin-top: 10px;

    &__content {
        font-weight: normal;
        letter-spacing: 1px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.button {
    display: flex;
    margin-left: 15px;
    background-color: #31455c;
    padding: 4px;
    font-weight: 400;
    border-radius: 4px;
    align-items: center;

    svg {
        height: 18px;
    }
}

.edittext {
    margin-top: 15px;
    width: 100%;
    min-height: 60px;
    background-color: #31455c;
    color: white;
    border: none;

    resize: none;

    // overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    font-weight: normal;
    letter-spacing: 1px;
}
