.intformation-description {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px;

    &__item {
        margin: 10px 25px;
        font-size: large;
        text-align: left;
    }
}
